<%= form_for @task do |f| %>
<div id="flash_notice">
  <% if @task.errors.any? %>
      <% @task.errors.full_messages.each do |msg| %>      
        <%= msg %>
      <% end %>
  <% end %>
</div>
<div id="task_new">
  <p>
    <%= f.text_field :name, :value => "Enter your task here", :size => 19 %>
    <%= f.hidden_field :done, :value => false %>
    <%= f.submit "Add to list" %>
  </p>
</div>
<% end %>
</div>
